@font-face {
  font-family: "Raleway-VariableFont_wghts";
  src: url("../public/police/Raleway-VariableFont_wght.ttf") format("truetype");
}
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Raleway-VariableFont_wghts";
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
}

.navigation {
  align-items: center;
  display: flex;
  padding-right: 5%;
}

.logo {
  width: 25%;
  margin-left: 50px;
}

ul {
  list-style: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 30px;
  font-weight: bold;
}

.nav-item {
  cursor: pointer;
  margin-right: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.panier__nombre-articles {
  padding-right: 10px;
}

.jumbotron {
  display: flex;
  font-weight: bold;
  color: white;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to left, #e38910, #8f5bfe 90%);
}

.cards_produit {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.lien {
  text-decoration: none;
  color: black;
  justify-content: center;
  display: flex;
}

.newCard {
  width: 65%;
  border-radius: 34px;
  margin-bottom: 50px;
  display: flex;
  border: 10px #f3e9f1 solid;
}
.newCard:hover {
  background-color: #f3e9f1;
}

.img__produit {
  width: 100%;
  border-radius: 34px 0px 0px 34px;
  margin: 10px;
  background-size: 100%;
  background-position: center;
}

.description__produit {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.name {
  font-weight: bold;
  margin: 0;
  padding: 15px 15px 15px 0px;
}

.description {
  padding: 10px 10px 0px 0px;
}

.price {
  align-self: flex-end;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
}

.produit__bouton {
  align-self: flex-end;
  margin: 0px 10px 10px 0px;
  font-family: "Raleway-VariableFont_wghts";
  font-weight: bold;
  background: linear-gradient(to left, #e38910, #8f5bfe 90%);
  color: white;
  border-radius: 34px;
  padding: 8px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #f3e9f1;
  color: #261624;
  padding: 30px 0px 30px 30px;
}
footer a {
  color: #261624;
  text-decoration: none;
  padding-left: 20px;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .newCard {
    width: 90%;
  }

  .price {
    align-self: flex-start;
    margin-right: 10px;
    bottom: 0px;
  }
}
@media (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }

  .newCard {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 90%;
    margin-bottom: 20px;
  }

  .img__produit {
    height: 250px;
    margin: 0;
    border-radius: 34px 34px 0px 0px;
  }

  .price {
    align-self: flex-start;
    bottom: 0px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}
.panier__nombre-articles {
  font-size: 1.5em;
  border-radius: 34px;
  background-color: #8f5bfe;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  color: white;
}

#nav-item {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}

#produit {
  display: flex;
  border: solid 10px #e38910;
  border-radius: 34px;
  margin: 20px;
}

.produit__image {
  width: 70%;
}

.produit__img {
  width: 100%;
  border-radius: 34px 0px 0px 34px;
  margin: 10px;
  border: 5px solid #8f5bfe;
  border-right: none;
}

.produit__texte {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  border: 5px solid #8f5bfe;
  border-left: none;
  margin: 10px;
  border-radius: 0px 34px 34px 0px;
}

.produit__option {
  display: flex;
  justify-content: space-between;
}

.price {
  align-self: flex-start;
}

.produit__bouton {
  margin-right: 0px;
}

@media (min-width: 768px) {
  section {
    flex-direction: column;
  }

  .produit__image {
    width: 100%;
    border-radius: 0px;
    border: none;
  }
}

/*# sourceMappingURL=produit.css.map */
