$color-rose: #f3e9f1;
$color-violet: #8f5bfe;
$color-noir:#261624;
$color-orange: #e38910;

font-face 
  { 
      font-family: 'Raleway-VariableFont_wghts';
      src: url('public/police/Raleway-VariableFont_wght.ttf') format('truetype');
  }


*, *:after, *:before
 {
    box-sizing: border-box;
    margin:0;
    
  }

body
{
    font-family: 'Raleway-VariableFont_wghts';
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: $color-rose;
}

.navigation
{
    align-items: center;
    display: flex;
    padding-right: 5%;
}

.logo
{
    width: 25%;
    margin-left: 50px;
}

ul 
{
    list-style: none;
    display: flex;
}

.nav-link
{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-right: 30px;
    font-family: 'Raleway-Thin';

}

.nav-item
{
    cursor: pointer;  
    margin-right: 30%;  
}

.cards_produit
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.lien 
{
    text-decoration: none;
    color: black;
    justify-content: center;
    display: flex;
}

.newCard
{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 1em;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px #cfc7c7;
    padding: 10px;
    border-radius: 3px;
}

.img_produit 
{
    width: 100%;
}

.name
{
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    padding: 15px 15px 15px 0px;
}

.description
{
    padding: 10px 10px 10px 0px;
}

.price
{
    align-self: flex-end;
}

.card-body
{
    border: 5px solid $color-orange;
    height:200Px;
    margin-bottom: 30px;
}

footer 
{
    
    background-color: $color-rose;
    color: $color-noir;
    padding: 30px 0px 30px 30px;

    & a
    {
        color: $color-noir;
        text-decoration: none;
        padding-left: 20px;
    }
}


    