@import 'accueil.scss';
@import "produit.scss";



.panier__articles
{
    padding-left: 3%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.5em;
}

.div_produit
{
    display: flex;
    margin-bottom: 1%;
    border: solid 1px black;
    width: 60%;
}

.prix-total
{   
    display: flex;
    font-weight: bolder;
    border: solid 2px $color-orange;
    width: 65%;
    justify-content: flex-end;
    padding-right: 10px;
}

.formulaire
{
    padding-left: 3%;
    font-weight: bold;
}

fieldset 
{
    display: flex;
    flex-direction: column;
    width: 40%;
}

input 
{
    border: solid 1px $color-violet;
    width: 80%;
    margin-bottom: 5px;
}

label 
{
    margin-bottom: 5px;
}

.choix-carte
{
    display: flex;
}

.produit__bouton
{
    margin-top: 10px;
}

@media (min-width : 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .newCard
    {
        width: 90%;
    }

    .price
    {
        align-self: flex-start;
        margin-right: 10px;
        bottom: 0px;
    }
}

@media (max-width : 768px) {

.jumbotron
    {
        text-align: center;
    }
.panier__articles
    {
        align-items: center;
        padding-left: 0;
    }

.newCard
    {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 90%;
        margin-bottom: 20px;
    }

.img__produit
    {
        height: 250px;
        margin: 0;
        border-radius : 34px 34px 0px 0px;
    }

.price
    {
        align-self: flex-start;
        bottom:0px;
    }

.formulaire
    {
        padding-left:6%;
    }

fieldset
    {
        width: 90%
    }
}