
@media (min-width : 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .newCard
    {
        width: 90%;
    }

    .price
    {
        align-self: flex-start;
        margin-right: 10px;
        bottom: 0px;
    }
}

@media (max-width : 768px) {

.jumbotron
    {
        text-align: center;
    }

.newCard
    {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 90%;
        margin-bottom: 20px;
    }

.img__produit
    {
        height: 250px;
        margin: 0;
        border-radius : 34px 34px 0px 0px;
    }

.price
    {
        align-self: flex-start;
        bottom:0px;
    }

footer
    {
        display: flex;
        flex-direction: column;
    }

}